In [1]:
import os
import pandas as pd
import requests
import datetime
import calendar
from eod import EodHistoricalData
from dotenv import load_dotenv


load_dotenv()
api_key = os.getenv("EOD_API_KEY")
client = EodHistoricalData(api_key)

In [2]:
'''
url = "https://eodhistoricaldata.com/api/exchanges-list/?api_token=64372ea719a4f5.97916520"
reponse = requests.get(url)
print(response)

#Get all symbols for an exchange
https://eodhistoricaldata.com/api/exchange-symbol-list/XTKS?api_token=64372ea719a4f5.97916520&delisted=1

#Get all exchanges
https://stockmarketmba.com/globalstockexchanges.php

All indices
https://eodhistoricaldata.com/financial-apis-blog/index-constituents-or-index-components-api/
https://eodhistoricaldata.com/api/fundamentals/XAUUSD.FOREX?api_token=64372ea719a4f5.97916520
'''

'\nurl = "https://eodhistoricaldata.com/api/exchanges-list/?api_token=64372ea719a4f5.97916520"\nreponse = requests.get(url)\nprint(response)\n\n#Get all symbols for an exchange\nhttps://eodhistoricaldata.com/api/exchange-symbol-list/XTKS?api_token=64372ea719a4f5.97916520&delisted=1\n\n#Get all exchanges\nhttps://stockmarketmba.com/globalstockexchanges.php\n\nAll indices\nhttps://eodhistoricaldata.com/financial-apis-blog/index-constituents-or-index-components-api/\nhttps://eodhistoricaldata.com/api/fundamentals/XAUUSD.FOREX?api_token=64372ea719a4f5.97916520\n'

In [8]:
ticker = "XAUUSD.FOREX"
start_date = "2001-01-01" 
end_date = "2023-04-12"

gold_response = client.get_prices_eod(ticker, period = 'd', from_ = start_date, to = end_date, order = 'a')
gold_data = pd.DataFrame(gold_response)
gold_data = gold_data.set_index('date')
gold_data = gold_data[['close']]
gold_data = gold_data.rename(columns={"close":"GOLD"})
gold_data = gold_data.dropna()
gold_data = gold_data.pct_change()
display(gold_data)

                GOLD
date
2001-01-02       NaN
2001-01-03 -0.000744
2001-01-04 -0.004095
2001-01-05  0.002056
2001-01-08  0.001305
...              ...
2023-04-06 -0.006103
2023-04-09 -0.001225
2023-04-10 -0.007933
2023-04-11  0.006780
2023-04-12  0.005756

[6048 rows x 1 columns]

In [4]:

rtsin = client.get_exchange_symbols(exchange='NYSE')
rtsin_data = pd.DataFrame(rtsin_response)
rtsin_data = rtsin_data.set_index('date')
#rtsin_data = rtsin_data[['close']]
#rtsin_data = rtsin_data.rename(columns={"close":"RTSIN"})
#rtsin_data = rtsin_data.dropna()
rtsin_data.tail(100)

NameError: name 'rtsin_response' is not defined

In [4]:

rtsin = client.get_exchange_symbols(exchange='NYSE')
rtsin_data = pd.DataFrame(rtsin_response)
rtsin_data = rtsin_data.set_index('date')
#rtsin_data = rtsin_data[['close']]
#rtsin_data = rtsin_data.rename(columns={"close":"RTSIN"})
#rtsin_data = rtsin_data.dropna()
rtsin_data.tail(100)

NameError: name 'rtsin_response' is not defined